.card {
    --padding: 1rem;
    background: lemonchiffon;
    /* border: 1px solid #777; */
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    border-radius: .25rem;
    overflow: hidden;
    max-height: 100px;
    overflow-y: scroll;
}

.card-grid {
    padding: 10px 0px 0px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    align-items: flex-start;
}

.card-body {
    font-size: .9rem;
    white-space: pre-wrap;
    padding: 0 var(--padding);
}